* {
  box-sizing: border-box;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #06C0E7;
  color: black;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: heavy;
  margin-top: 5px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin-top: 5px;
}

body {
  margin: 0
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body, html {
  height: 100%;
}


.hero-section {
  background: url("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/53435091_10216947802703752_4826360883452051456_o.jpg?_nc_cat=102&_nc_ht=scontent-lga3-1.xx&oh=ab261d02b92f09d7240e39593e4caac7&oe=5D16AE2E") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: end;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: indigo;
  border-radius: 8px;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  }
